body { font-family: sans-serif  }
th { background-color: black; color: white; font-style: bold }
table { width: 100% }
td { vertical-align: top }
tr { background-color: #F0F0F0; }
.tablebg { background-color: #F0F0F0; }

.partial { background-color: #D0D0FF; }
.partialconst { background-color: #D0D0FF; }
.deferred { background-color: #90D090; }
.deferredconst { background-color: #90D090; }
.supported { background-color: #D0FFD0; }
.supportedconst { background-color: #D0FFD0; }
.unsupported { background-color: #FFD0D0; }
.unsupportedconst { background-color: #FFD0D0; }
.info { background-color: #80F0F0; }
.infoconst { background-color: #80F0F0; }

.tests { display: none }
.issues { display: none }
